.metadata/*
out/
artifacts
jacoco.exec
.recommenders/*
GameManager/.settings/org.eclipse.jdt.ui.prefs
/.metadata/
.idea/*
.gradle/
**/build/
**/*.log
**/*.log.*
**/*.lck
**/*.jar
**Include

# Include IntelliJ Run Configurations
!.idea/
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
!.idea/runConfigurations
!.idea/runConfigurations/*
